@import "product.css";
@import "cart.css";

.flex-list {
  display: flex;
}

.grid-box.product-list {
  display: flex;
}

.grid-item {
  margin: 5px;
  border: 1px solid;
}
.grid-item img {
  max-width: 200px;
}

/* FOOTER */

.footer {
  margin-top: 5rem;
  padding: 0 1rem;
}
