/* @import "product.css";
@import "cart.css";
@import "nav-footer.css";

.flex-list {
  display: flex;
}

.grid-box.product-list {
  display: flex;
}

.grid-item {
  margin: 5px;
  border: 1px solid;
}
.grid-item img {
  max-width: 200px;
}

.order-list {
  max-width: 300px;
}

/* FOOTER */
/* 
.footer {
  margin-top: 5rem;
  padding: 0 1rem;
}

.success {
  background: green;
  color: white;
}

.error {
  background: red;
  color: black;
} */ */
