@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*:not(.fa) {
  font-family: "Roboto";
}

.related-sidebar {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  max-width: 300px;
}

.related-sidebar .product-card {
  font-size: small;
  text-align: left;
  margin-right: auto;
  padding: 1rem 0;
  border: 1px solid;
  width: 250px;
  padding: 1rem;
}

.related-sidebar .product-card img {
  max-width: 100px;
}

.error {
  color: red;
}
.success {
  color: green;
}
